body {
  background-color: #36423e;
}

.content {
  background-color: white;
}

#header {
  display: flex;
  height: 100vh;
  color: white;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#title-name {
  font-size: 90px;
}

.dark-top {
  height: 5vh;
  background-color: #2a324b;
}

.arrow-down {
  height: 12vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.arrow-down:hover {
  color: #36423e;
}

.header-text {
  position: relative;
  bottom: 5vh;
}

#learn-more {
  font-size: 48px;
  color: inherit;
}

a.arrow {
  position: relative;
  bottom: 10vh;
  text-decoration: none;
  outline: 0;
}

a.arrow :hover {
  text-decoration: none;
}
