body {
  background-color: #a1c6ea;
}

.container {
  background-color: white;
  width: 40vw;
  min-width: 350px;
}

#header {
  display: flex;
  height: 82vh;
  color: #2a324b;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#title-name {
  font-size: 90px;
}

.dark-top {
  height: 5vh;
  background-color: #2a324b;
}

.arrow-down {
  height: 18vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #2a324b;
}

.arrow-down:hover {
  color: silver;
}

#learn-more {
  font-size: 48px;
  color: inherit;
}

a {
  text-decoration: none;
  outline: 0;
}

a:hover {
  text-decoration: none;
}
